/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#### 排除线上配置的文件
**/application-prod.properties
**/logback-prod.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### maven ###
.mvn

### log ###
log.path_IS_UNDEFINED

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/